<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\AdminNotification\Model\System\Message\CacheOutdated">
		<plugin name="Xigen_HideCacheWarning_Plugin_Backend_Magento_AdminNotification_Model_System_Message_CacheOutdated" type="Xigen\HideCacheWarning\Plugin\Backend\Magento\AdminNotification\Model\System\Message\CacheOutdated" sortOrder="10" disabled="false"/>
	</type>
</config>
